.catalog-container {
  width: 100%;
  max-width: 1100px; /* This keeps the grid from getting too wide */
  margin: 0 auto; /* Centers the entire container */
  padding: 40px 20px;
}

.catalog-title {
  font-family: "vt323", monospace;
  color: #c4ff4d;
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 0px;
  row-gap: 60px;
  width: 100%;
  padding: clamp(0px, 10vw, 200px)
}
