.poke-pattern-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.poke-pattern-label {
  font-size: 1.5rem; 
  letter-spacing: 0.05em; 
  color: #9D4EDD;
  margin-bottom: 5px;
}

.token-selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(186, 140, 255, 0.1); 
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 8px;
  gap: 8px;
  overflow-x: auto;
  }

.token-img {
  width: 23%;
  height: 23%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  flex-shrink: 0;
}

.token-img:hover {
  transform: scale(1.1);
}


.pattern-display-box{
  width: 100%;
  min-height: 120px;
  border: 2px dashed #9D4EDD;
  border-radius: 12px;
  background: rgba(186, 140, 255, 0.1); 
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
 display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: center;
  padding: 12px;
  gap: 12px;
  z-index: 10;
}

.empty-pattern-text {
  opacity: 0.5;
  font-style: italic;
  margin: auto;
  color: #2A1A3A;
}

.selected-token-wrapper {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.selected-token-wrapper:hover {
  transform: scale(1.05);
}

.selected-token-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

selected-token-wrapper:hover .selected-token-img {
  opacity: 0.5;
}

bin-icon-mask {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 28px;
  height: 28px;
  background-color: #881b28;
  filter: drop-shadow(0 4px 3px rgba(0,0,0,0.3));
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.selected-token-wrapper:hover .bin-icon-mask {
  opacity: 1; 
}

