.navBar {
  border: 2px solid var(--grey, #4d4d4d);
  background-color: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar .pageLinks{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
