* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #1A1A1A;
  color: azure;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root{
  --yellow: #C4FF4D;
  --purple: #BA8CFF;
  --grey: #4D4D4D;
  --black: #1A1A1A;
  --dark-purple: #2A1A3A;
}